@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Learning Management System</h1>
    <p class="lead">Welcome to the Learning Management System. 
    This is a Mock Service that is used for learning how to interaction with external systems</p>
    <p><a href="/swagger" class="btn btn-primary btn-lg">See API documentation &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>HttpClient</h2>
        <p>
            Use HttpClient to interact with a remote Web API. 
        </p>
        <p><a class="btn btn-default" href="http://www.asp.net/web-api/overview/advanced/calling-a-web-api-from-a-net-client">HttpClient &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Json.NET</h2>
        <p>The most common library to take a json string and convert it to a C# class and back</p>
        <p><a class="btn btn-default" href="http://www.newtonsoft.com/json">JSON.NET &raquo;</a></p>    </div>
    <div class="col-md-4">
        <h2>JSON Utils</h2>
        <p>Helpful tools to help you create C# classes from json result.</p>
        <p><a class="btn btn-default" href="http://jsonutils.com/">Utils &raquo;</a></p>
    </div>
</div>