@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LMS</h1>
    <p class="lead">Xxx xx</p>
    <p><a href="#" class="btn btn-primary btn-lg">YY &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>YYY</h2>
        <p>
            Xxx xxx
        </p>
        <p><a class="btn btn-default" href="#">XXX &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>X</h2>
        <p>Xxx xx</p>
        <p><a class="btn btn-default" href="#">X &raquo;</a></p>    </div>
    <div class="col-md-4">
        <h2>X</h2>
        <p>Xxx xx</p>
        <p><a class="btn btn-default" href="#">X &raquo;</a></p>
    </div>
</div>